In [30]:
import pandas as pd 
import tensorflow as tf

In [80]:
df = pd.read_csv("../raw_data/df_3M_rows.csv").drop(['Unnamed: 0'], axis=1)
df.head(200)
display(df)

/var/folders/s8/4k62tj0j2qz1lr9dt431vynr0000gn/T/ipykernel_7134/3026719203.py:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/df_3M_rows.csv").drop(['Unnamed: 0'], axis=1)

,metropolitan_area_code,date,energy_consumption,year,month,day,hour,minute,date_Y_M_D,date_Y_M_D_H,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR
0,0,2017-02-13 02:30:00,4625.0,2017.0,2.0,13.0,2.0,30.0,2017-02-13,2017-02-13 02:00:00,-0.68,-1.02,-0.85,3.48,98.00,0.0
1,0,2017-02-13 02:45:00,4571.0,2017.0,2.0,13.0,2.0,45.0,2017-02-13,2017-02-13 02:00:00,-0.68,-1.02,-0.85,3.48,98.00,0.0
2,0,2017-02-13 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2017-02-13 03:15:00,4524.0,2017.0,2.0,13.0,3.0,15.0,2017-02-13,2017-02-13 03:00:00,-1.02,-1.41,-1.21,3.42,97.94,0.0
4,0,2017-02-13 03:30:00,4489.0,2017.0,2.0,13.0,3.0,30.0,2017-02-13,2017-02-13 03:00:00,-1.02,-1.41,-1.21,3.42,97.94,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909681,16,2021-12-31 22:45:00,114.0,2021.0,12.0,31.0,22.0,45.0,2021-12-31,2021-12-31 22:00:00,10.41,9.53,9.98,7.32,94.19,0.0
2909682,16,2021-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2909683,16,2021-12-31 23:15:00,107.0,2021.0,12.0,31.0,23.0,15.0,2021-12-31,2021-12-31 23:00:00,10.55,9.74,10.14,7.45,94.62,0.0
2909684,16,2021-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2909685,16,2021-12-31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df_area_spe = df_weather[df_weather.metropolitan_area_code==2]#.reset_index(drop=True)
df_area_spe

AttributeError: 'DataFrame' object has no attribute 'list'

In [76]:
X = df_area_spe[['date','T2M','T2MDEW','T2MWET','QV2M','RH2M','PRECTOTCORR']]
X.describe().transpose()

               count       mean        std    min    25%    50%    75%     max
T2M          78477.0  15.100776   8.428398  -3.84   8.43  14.26  21.10   40.98
T2MDEW       78477.0   8.570915   5.229623  -9.99   5.00   8.77  12.58   21.84
T2MWET       78477.0  11.835826   6.315626  -4.93   6.96  11.81  17.02   27.11
QV2M         78477.0   7.532666   2.572212   1.77   5.55   7.26   9.34   16.85
RH2M         78477.0  69.899879  22.176433  13.25  52.38  73.44  89.38  100.00
PRECTOTCORR  78477.0   0.062767   0.336522   0.00   0.00   0.00   0.01   12.08

In [75]:
from tensorflow.keras.layers import Masking
from tensorflow.keras.preprocessing.sequence import pad_sequences


X = pad_sequences(X, dtype='float32', padding='post', value=-1000)

model = Sequential()
model.add(layers.Masking(mask_value=-1000, input_shape=(4,3)))
model.add(layers.SimpleRNN(units=2, activation='tanh'))
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(1, activation='linear'))

ValueError: could not convert string to float: 'date'