In [1]:
import pandas as pd 
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
df_weather = pd.read_csv("../raw_data/weather_power_nasa.csv")
df_weather['date'] = df_weather['date'].apply(lambda _: datetime.strptime(_,"%Y-%m-%d %H:%M:%S"))
df_weather = df_weather.rename(columns = {'date': 'date_Y_M_D_H'})
df_weather.head()
#df_weather['date_Y_M_D_H']=df_weather['date']

,date_Y_M_D_H,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,metropolitan_area_code
0,2017-02-13 00:00:00,0.37,0.29,0.33,3.85,99.25,0.0,0
1,2017-02-13 01:00:00,-0.20,-0.42,-0.31,3.66,98.56,0.0,0
2,2017-02-13 02:00:00,-0.68,-1.02,-0.85,3.48,98.00,0.0,0
3,2017-02-13 03:00:00,-1.02,-1.41,-1.21,3.42,97.94,0.0,0
4,2017-02-13 04:00:00,-1.32,-1.72,-1.52,3.30,98.12,0.0,0

In [3]:
df_train = pd.read_csv("../raw_data/train.csv")
#df_train.head()

In [4]:
df_train['date']=df_train['date'].apply(lambda _: datetime.strptime(_,"%Y-%m-%d %H:%M:%S"))

In [5]:
df_train.dtypes

metropolitan_area_code             int64
date                      datetime64[ns]
energy_consumption               float64
dtype: object

In [6]:
df_train['year'] = df_train['date'].dt.strftime('%Y')
df_train['month'] = df_train['date'].dt.strftime('%m')
df_train['day'] = df_train['date'].dt.strftime('%d')
df_train['hour'] = df_train['date'].dt.strftime('%H')
df_train['minute'] = df_train['date'].dt.strftime('%M')
df_train['date_Y_M_D'] = df_train['date'].dt.strftime('%Y-%m-%d').apply(lambda _: datetime.strptime(_,"%Y-%m-%d"))
df_train['date_Y_M_D_H'] = df_train['date'].dt.strftime('%Y-%m-%d %H').apply(lambda _: datetime.strptime(_,"%Y-%m-%d %H"))
df_train.dtypes

metropolitan_area_code             int64
date                      datetime64[ns]
energy_consumption               float64
year                              object
month                             object
day                               object
hour                              object
minute                            object
date_Y_M_D                datetime64[ns]
date_Y_M_D_H              datetime64[ns]
dtype: object

In [7]:
df_train

,metropolitan_area_code,date,energy_consumption,year,month,day,hour,minute,date_Y_M_D,date_Y_M_D_H
0,3,2017-09-11 02:15:00,477.0,2017,09,11,02,15,2017-09-11,2017-09-11 02:00:00
1,3,2017-09-11 02:30:00,454.0,2017,09,11,02,30,2017-09-11,2017-09-11 02:00:00
2,3,2017-09-11 03:45:00,398.0,2017,09,11,03,45,2017-09-11,2017-09-11 03:00:00
3,3,2017-09-11 04:45:00,398.0,2017,09,11,04,45,2017-09-11,2017-09-11 04:00:00
4,3,2017-09-11 05:15:00,409.0,2017,09,11,05,15,2017-09-11,2017-09-11 05:00:00
...,...,...,...,...,...,...,...,...,...,...
717409,7,2021-12-31 16:00:00,383.0,2021,12,31,16,00,2021-12-31,2021-12-31 16:00:00
717410,7,2021-12-31 18:15:00,393.0,2021,12,31,18,15,2021-12-31,2021-12-31 18:00:00
717411,7,2021-12-31 22:30:00,366.0,2021,12,31,22,30,2021-12-31,2021-12-31 22:00:00
717412,7,2021-12-31 23:00:00,351.0,2021,12,31,23,00,2021-12-31,2021-12-31 23:00:00
717413,7,2021-12-31 23:15:00,412.0,2021,12,31,23,15,2021-12-31,2021-12-31 23:00:00

In [8]:
df_merged = pd.merge(df_train, df_weather, on=["date_Y_M_D_H","metropolitan_area_code"], how="inner").reset_index(drop=True)

df_merged

,metropolitan_area_code,date,energy_consumption,year,month,day,hour,minute,date_Y_M_D,date_Y_M_D_H,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR
0,3,2017-09-11 02:15:00,477.0,2017,09,11,02,15,2017-09-11,2017-09-11 02:00:00,16.32,15.30,15.81,10.86,93.56,0.14
1,3,2017-09-11 02:30:00,454.0,2017,09,11,02,30,2017-09-11,2017-09-11 02:00:00,16.32,15.30,15.81,10.86,93.56,0.14
2,3,2017-09-11 03:45:00,398.0,2017,09,11,03,45,2017-09-11,2017-09-11 03:00:00,16.23,14.84,15.54,10.50,91.31,0.06
3,3,2017-09-11 04:45:00,398.0,2017,09,11,04,45,2017-09-11,2017-09-11 04:00:00,16.15,14.16,15.15,10.07,87.94,0.06
4,3,2017-09-11 05:15:00,409.0,2017,09,11,05,15,2017-09-11,2017-09-11 05:00:00,16.03,13.54,14.78,9.64,85.06,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717409,7,2021-12-31 16:00:00,383.0,2021,12,31,16,00,2021-12-31,2021-12-31 16:00:00,7.65,6.81,7.23,6.23,94.31,0.00
717410,7,2021-12-31 18:15:00,393.0,2021,12,31,18,15,2021-12-31,2021-12-31 18:00:00,5.74,6.20,5.97,5.98,100.00,0.00
717411,7,2021-12-31 22:30:00,366.0,2021,12,31,22,30,2021-12-31,2021-12-31 22:00:00,4.37,5.67,5.02,5.74,100.00,0.00
717412,7,2021-12-31 23:00:00,351.0,2021,12,31,23,00,2021-12-31,2021-12-31 23:00:00,4.23,5.60,4.91,5.68,100.00,0.00
717413,7,2021-12-31 23:15:00,412.0,2021,12,31,23,15,2021-12-31,2021-12-31 23:00:00,4.23,5.60,4.91,5.68,100.00,0.00

In [9]:
df_merged.to_csv('../raw_data/df_merged.csv')

In [10]:
import pandas as pd

l = (pd.DataFrame(columns=['NULL'],
                  index=pd.date_range('2017-02-13 02:30:00', '2021-12-31 23:45:00',
                                      freq='15T'))
       .index.strftime('%Y-%m-%d %H:%M:%S')
       .tolist()
)

In [11]:
l

['2017-02-13 02:30:00',
 '2017-02-13 02:45:00',
 '2017-02-13 03:00:00',
 '2017-02-13 03:15:00',
 '2017-02-13 03:30:00',
 '2017-02-13 03:45:00',
 '2017-02-13 04:00:00',
 '2017-02-13 04:15:00',
 '2017-02-13 04:30:00',
 '2017-02-13 04:45:00',
 '2017-02-13 05:00:00',
 '2017-02-13 05:15:00',
 '2017-02-13 05:30:00',
 '2017-02-13 05:45:00',
 '2017-02-13 06:00:00',
 '2017-02-13 06:15:00',
 '2017-02-13 06:30:00',
 '2017-02-13 06:45:00',
 '2017-02-13 07:00:00',
 '2017-02-13 07:15:00',
 '2017-02-13 07:30:00',
 '2017-02-13 07:45:00',
 '2017-02-13 08:00:00',
 '2017-02-13 08:15:00',
 '2017-02-13 08:30:00',
 '2017-02-13 08:45:00',
 '2017-02-13 09:00:00',
 '2017-02-13 09:15:00',
 '2017-02-13 09:30:00',
 '2017-02-13 09:45:00',
 '2017-02-13 10:00:00',
 '2017-02-13 10:15:00',
 '2017-02-13 10:30:00',
 '2017-02-13 10:45:00',
 '2017-02-13 11:00:00',
 '2017-02-13 11:15:00',
 '2017-02-13 11:30:00',
 '2017-02-13 11:45:00',
 '2017-02-13 12:00:00',
 '2017-02-13 12:15:00',
 '2017-02-13 12:30:00',
 '2017-02-13 12:45:00',
 '2017-02-13 13:00:00',
 '2017-02-13 13:15:00',
 '2017-02-13 13:30:00',
 '2017-02-13 13:45:00',
 '2017-02-13 14:00:00',
 '2017-02-13 14:15:00',
 '2017-02-13 14:30:00',
 '2017-02-13 14:45:00',
 '2017-02-13 15:00:00',
 '2017-02-13 15:15:00',
 '2017-02-13 15:30:00',
 '2017-02-13 15:45:00',
 '2017-02-13 16:00:00',
 '2017-02-13 16:15:00',
 '2017-02-13 16:30:00',
 '2017-02-13 16:45:00',
 '2017-02-13 17:00:00',
 '2017-02-13 17:15:00',
 '2017-02-13 17:30:00',
 '2017-02-13 17:45:00',
 '2017-02-13 18:00:00',
 '2017-02-13 18:15:00',
 '2017-02-13 18:30:00',
 '2017-02-13 18:45:00',
 '2017-02-13 19:00:00',
 '2017-02-13 19:15:00',
 '2017-02-13 19:30:00',
 '2017-02-13 19:45:00',
 '2017-02-13 20:00:00',
 '2017-02-13 20:15:00',
 '2017-02-13 20:30:00',
 '2017-02-13 20:45:00',
 '2017-02-13 21:00:00',
 '2017-02-13 21:15:00',
 '2017-02-13 21:30:00',
 '2017-02-13 21:45:00',
 '2017-02-13 22:00:00',
 '2017-02-13 22:15:00',
 '2017-02-13 22:30:00',
 '2017-02-13 22:45:00',
 '2017-02-13 23:00:00',
 '2017-02-13 23:15:00',
 '2017-02-13 23:30:00',
 '2017-02-13 23:45:00',
 '2017-02-14 00:00:00',
 '2017-02-14 00:15:00',
 '2017-02-14 00:30:00',
 '2017-02-14 00:45:00',
 '2017-02-14 01:00:00',
 '2017-02-14 01:15:00',
 '2017-02-14 01:30:00',
 '2017-02-14 01:45:00',
 '2017-02-14 02:00:00',
 '2017-02-14 02:15:00',
 '2017-02-14 02:30:00',
 '2017-02-14 02:45:00',
 '2017-02-14 03:00:00',
 '2017-02-14 03:15:00',
 '2017-02-14 03:30:00',
 '2017-02-14 03:45:00',
 '2017-02-14 04:00:00',
 '2017-02-14 04:15:00',
 '2017-02-14 04:30:00',
 '2017-02-14 04:45:00',
 '2017-02-14 05:00:00',
 '2017-02-14 05:15:00',
 '2017-02-14 05:30:00',
 '2017-02-14 05:45:00',
 '2017-02-14 06:00:00',
 '2017-02-14 06:15:00',
 '2017-02-14 06:30:00',
 '2017-02-14 06:45:00',
 '2017-02-14 07:00:00',
 '2017-02-14 07:15:00',
 '2017-02-14 07:30:00',
 '2017-02-14 07:45:00',
 '2017-02-14 08:00:00',
 '2017-02-14 08:15:00',
 '2017-02-14 08:30:00',
 '2017-02-14 08:45:00',
 '2017-02-14 09:00:00',
 '2017-02-14 09:15:00',
 '2017-02-14 09:30:00',
 '2017-02-14 09:45:00',
 '2017-02-14 10:00:00',
 '2017-02-14 10:15:00',
 '2017-02-14 10:30:00',
 '2017-02-14 10:45:00',
 '2017-02-14 11:00:00',
 '2017-02-14 11:15:00',
 '2017-02-14 11:30:00',
 '2017-02-14 11:45:00',
 '2017-02-14 12:00:00',
 '2017-02-14 12:15:00',
 '2017-02-14 12:30:00',
 '2017-02-14 12:45:00',
 '2017-02-14 13:00:00',
 '2017-02-14 13:15:00',
 '2017-02-14 13:30:00',
 '2017-02-14 13:45:00',
 '2017-02-14 14:00:00',
 '2017-02-14 14:15:00',
 '2017-02-14 14:30:00',
 '2017-02-14 14:45:00',
 '2017-02-14 15:00:00',
 '2017-02-14 15:15:00',
 '2017-02-14 15:30:00',
 '2017-02-14 15:45:00',
 '2017-02-14 16:00:00',
 '2017-02-14 16:15:00',
 '2017-02-14 16:30:00',
 '2017-02-14 16:45:00',
 '2017-02-14 17:00:00',
 '2017-02-14 17:15:00',
 '2017-02-14 17:30:00',
 '2017-02-14 17:45:00',
 '2017-02-14 18:00:00',
 '2017-02-14 18:15:00',
 '2017-02-14 18:30:00',
 '2017-02-14 18:45:00',
 '2017-02-14 19:00:00',
 '2017-02-14 19:15:00',
 '2017-02-14 19:30:00',
 '2017-02-14 19:45:00',
 '2017-02-14 20:00:00',
 '2017-02-14 20:15:00',
 '2017-02-14 20:30:00',
 '2017-02-14 20:45:00',
 '2017-02-14 21:00:00',
 '2017-02-14 21:15:00',
 '2017-02-14 21:30:00',
 '2017-02-14 21:45:00',
 '2017-02-14 22:00:00',
 '2017-02-14 22:15:00',
 '2017-02-14 22:30:00',
 '2017-02-14 22:45:00',
 '2017-02-14 23:00:00',
 '2017-02-14 23:15:00',
 '2017-02-14 23:30:00',
 '2017-02-14 23:45:00',
 '2017-02-15 00:00:00',
 '2017-02-15 00:15:00',
 '2017-02-15 00:30:00',
 '2017-02-15 00:45:00',
 '2017-02-15 01:00:00',
 '2017-02-15 01:15:00',
 '2017-02-15 01:30:00',
 '2017-02-15 01:45:00',
 '2017-02-15 02:00:00',
 '2017-02-15 02:15:00',
 '2017-02-15 02:30:00',
 '2017-02-15 02:45:00',
 '2017-02-15 03:00:00',
 '2017-02-15 03:15:00',
 '2017-02-15 03:30:00',
 '2017-02-15 03:45:00',
 '2017-02-15 04:00:00',
 '2017-02-15 04:15:00',
 '2017-02-15 04:30:00',
 '2017-02-15 04:45:00',
 '2017-02-15 05:00:00',
 '2017-02-15 05:15:00',
 '2017-02-15 05:30:00',
 '2017-02-15 05:45:00',
 '2017-02-15 06:00:00',
 '2017-02-15 06:15:00',
 '2017-02-15 06:30:00',
 '2017-02-15 06:45:00',
 '2017-02-15 07:00:00',
 '2017-02-15 07:15:00',
 '2017-02-15 07:30:00',
 '2017-02-15 07:45:00',
 '2017-02-15 08:00:00',
 '2017-02-15 08:15:00',
 '2017-02-15 08:30:00',
 '2017-02-15 08:45:00',
 '2017-02-15 09:00:00',
 '2017-02-15 09:15:00',
 '2017-02-15 09:30:00',
 '2017-02-15 09:45:00',
 '2017-02-15 10:00:00',
 '2017-02-15 10:15:00',
 '2017-02-15 10:30:00',
 '2017-02-15 10:45:00',
 '2017-02-15 11:00:00',
 '2017-02-15 11:15:00',
 '2017-02-15 11:30:00',
 '2017-02-15 11:45:00',
 '2017-02-15 12:00:00',
 '2017-02-15 12:15:00',
 '2017-02-15 12:30:00',
 '2017-02-15 12:45:00',
 '2017-02-15 13:00:00',
 '2017-02-15 13:15:00',
 '2017-02-15 13:30:00',
 '2017-02-15 13:45:00',
 '2017-02-15 14:00:00',
 '2017-02-15 14:15:00',
 '2017-02-15 14:30:00',
 '2017-02-15 14:45:00',
 '2017-02-15 15:00:00',
 '2017-02-15 15:15:00',
 '2017-02-15 15:30:00',
 '2017-02-15 15:45:00',
 '2017-02-15 16:00:00',
 '2017-02-15 16:15:00',
 '2017-02-15 16:30:00',
 '2017-02-15 16:45:00',
 '2017-02-15 17:00:00',
 '2017-02-15 17:15:00',
 '2017-02-15 17:30:00',
 '2017-02-15 17:45:00',
 '2017-02-15 18:00:00',
 '2017-02-15 18:15:00',
 '2017-02-15 18:30:00',
 '2017-02-15 18:45:00',
 '2017-02-15 19:00:00',
 '2017-02-15 19:15:00',
 '2017-02-15 19:30:00',
 '2017-02-15 19:45:00',
 '2017-02-15 20:00:00',
 '2017-02-15 20:15:00',
 '2017-02-15 20:30:00',
 '2017-02-15 20:45:00',
 '2017-02-15 21:00:00',
 '2017-02-15 21:15:00',
 '2017-02-15 21:30:00',
 '2017-02-15 21:45:00',
 '2017-02-15 22:00:00',
 '2017-02-15 22:15:00',
 '2017-02-15 22:30:00',
 '2017-02-15 22:45:00',
 '2017-02-15 23:00:00',
 '2017-02-15 23:15:00',
 '2017-02-15 23:30:00',
 '2017-02-15 23:45:00',
 '2017-02-16 00:00:00',
 '2017-02-16 00:15:00',
 '2017-02-16 00:30:00',
 '2017-02-16 00:45:00',
 '2017-02-16 01:00:00',
 '2017-02-16 01:15:00',
 '2017-02-16 01:30:00',
 '2017-02-16 01:45:00',
 '2017-02-16 02:00:00',
 '2017-02-16 02:15:00',
 '2017-02-16 02:30:00',
 '2017-02-16 02:45:00',
 '2017-02-16 03:00:00',
 '2017-02-16 03:15:00',
 '2017-02-16 03:30:00',
 '2017-02-16 03:45:00',
 '2017-02-16 04:00:00',
 '2017-02-16 04:15:00',
 '2017-02-16 04:30:00',
 '2017-02-16 04:45:00',
 '2017-02-16 05:00:00',
 '2017-02-16 05:15:00',
 '2017-02-16 05:30:00',
 '2017-02-16 05:45:00',
 '2017-02-16 06:00:00',
 '2017-02-16 06:15:00',
 '2017-02-16 06:30:00',
 '2017-02-16 06:45:00',
 '2017-02-16 07:00:00',
 '2017-02-16 07:15:00',
 '2017-02-16 07:30:00',
 '2017-02-16 07:45:00',
 '2017-02-16 08:00:00',
 '2017-02-16 08:15:00',
 '2017-02-16 08:30:00',
 '2017-02-16 08:45:00',
 '2017-02-16 09:00:00',
 '2017-02-16 09:15:00',
 '2017-02-16 09:30:00',
 '2017-02-16 09:45:00',
 '2017-02-16 10:00:00',
 '2017-02-16 10:15:00',
 '2017-02-16 10:30:00',
 '2017-02-16 10:45:00',
 '2017-02-16 11:00:00',
 '2017-02-16 11:15:00',
 '2017-02-16 11:30:00',
 '2017-02-16 11:45:00',
 '2017-02-16 12:00:00',
 '2017-02-16 12:15:00',
 '2017-02-16 12:30:00',
 '2017-02-16 12:45:00',
 '2017-02-16 13:00:00',
 '2017-02-16 13:15:00',
 '2017-02-16 13:30:00',
 '2017-02-16 13:45:00',
 '2017-02-16 14:00:00',
 '2017-02-16 14:15:00',
 '2017-02-16 14:30:00',
 '2017-02-16 14:45:00',
 '2017-02-16 15:00:00',
 '2017-02-16 15:15:00',
 '2017-02-16 15:30:00',
 '2017-02-16 15:45:00',
 '2017-02-16 16:00:00',
 '2017-02-16 16:15:00',
 '2017-02-16 16:30:00',
 '2017-02-16 16:45:00',
 '2017-02-16 17:00:00',
 '2017-02-16 17:15:00',
 '2017-02-16 17:30:00',
 '2017-02-16 17:45:00',
 '2017-02-16 18:00:00',
 '2017-02-16 18:15:00',
 '2017-02-16 18:30:00',
 '2017-02-16 18:45:00',
 '2017-02-16 19:00:00',
 '2017-02-16 19:15:00',
 '2017-02-16 19:30:00',
 '2017-02-16 19:45:00',
 '2017-02-16 20:00:00',
 '2017-02-16 20:15:00',
 '2017-02-16 20:30:00',
 '2017-02-16 20:45:00',
 '2017-02-16 21:00:00',
 '2017-02-16 21:15:00',
 '2017-02-16 21:30:00',
 '2017-02-16 21:45:00',
 '2017-02-16 22:00:00',
 '2017-02-16 22:15:00',
 '2017-02-16 22:30:00',
 '2017-02-16 22:45:00',
 '2017-02-16 23:00:00',
 '2017-02-16 23:15:00',
 '2017-02-16 23:30:00',
 '2017-02-16 23:45:00',
 '2017-02-17 00:00:00',
 '2017-02-17 00:15:00',
 '2017-02-17 00:30:00',
 '2017-02-17 00:45:00',
 '2017-02-17 01:00:00',
 '2017-02-17 01:15:00',
 '2017-02-17 01:30:00',
 '2017-02-17 01:45:00',
 '2017-02-17 02:00:00',
 '2017-02-17 02:15:00',
 '2017-02-17 02:30:00',
 '2017-02-17 02:45:00',
 '2017-02-17 03:00:00',
 '2017-02-17 03:15:00',
 '2017-02-17 03:30:00',
 '2017-02-17 03:45:00',
 '2017-02-17 04:00:00',
 '2017-02-17 04:15:00',
 '2017-02-17 04:30:00',
 '2017-02-17 04:45:00',
 '2017-02-17 05:00:00',
 '2017-02-17 05:15:00',
 '2017-02-17 05:30:00',
 '2017-02-17 05:45:00',
 '2017-02-17 06:00:00',
 '2017-02-17 06:15:00',
 '2017-02-17 06:30:00',
 '2017-02-17 06:45:00',
 '2017-02-17 07:00:00',
 '2017-02-17 07:15:00',
 '2017-02-17 07:30:00',
 '2017-02-17 07:45:00',
 '2017-02-17 08:00:00',
 '2017-02-17 08:15:00',
 '2017-02-17 08:30:00',
 '2017-02-17 08:45:00',
 '2017-02-17 09:00:00',
 '2017-02-17 09:15:00',
 '2017-02-17 09:30:00',
 '2017-02-17 09:45:00',
 '2017-02-17 10:00:00',
 '2017-02-17 10:15:00',
 '2017-02-17 10:30:00',
 '2017-02-17 10:45:00',
 '2017-02-17 11:00:00',
 '2017-02-17 11:15:00',
 '2017-02-17 11:30:00',
 '2017-02-17 11:45:00',
 '2017-02-17 12:00:00',
 '2017-02-17 12:15:00',
 '2017-02-17 12:30:00',
 '2017-02-17 12:45:00',
 '2017-02-17 13:00:00',
 '2017-02-17 13:15:00',
 '2017-02-17 13:30:00',
 '2017-02-17 13:45:00',
 '2017-02-17 14:00:00',
 '2017-02-17 14:15:00',
 '2017-02-17 14:30:00',
 '2017-02-17 14:45:00',
 '2017-02-17 15:00:00',
 '2017-02-17 15:15:00',
 '2017-02-17 15:30:00',
 '2017-02-17 15:45:00',
 '2017-02-17 16:00:00',
 '2017-02-17 16:15:00',
 '2017-02-17 16:30:00',
 '2017-02-17 16:45:00',
 '2017-02-17 17:00:00',
 '2017-02-17 17:15:00',
 '2017-02-17 17:30:00',
 '2017-02-17 17:45:00',
 '2017-02-17 18:00:00',
 '2017-02-17 18:15:00',
 '2017-02-17 18:30:00',
 '2017-02-17 18:45:00',
 '2017-02-17 19:00:00',
 '2017-02-17 19:15:00',
 '2017-02-17 19:30:00',
 '2017-02-17 19:45:00',
 '2017-02-17 20:00:00',
 '2017-02-17 20:15:00',
 '2017-02-17 20:30:00',
 '2017-02-17 20:45:00',
 '2017-02-17 21:00:00',
 '2017-02-17 21:15:00',
 '2017-02-17 21:30:00',
 '2017-02-17 21:45:00',
 '2017-02-17 22:00:00',
 '2017-02-17 22:15:00',
 '2017-02-17 22:30:00',
 '2017-02-17 22:45:00',
 '2017-02-17 23:00:00',
 '2017-02-17 23:15:00',
 '2017-02-17 23:30:00',
 '2017-02-17 23:45:00',
 '2017-02-18 00:00:00',
 '2017-02-18 00:15:00',
 '2017-02-18 00:30:00',
 '2017-02-18 00:45:00',
 '2017-02-18 01:00:00',
 '2017-02-18 01:15:00',
 '2017-02-18 01:30:00',
 '2017-02-18 01:45:00',
 '2017-02-18 02:00:00',
 '2017-02-18 02:15:00',
 '2017-02-18 02:30:00',
 '2017-02-18 02:45:00',
 '2017-02-18 03:00:00',
 '2017-02-18 03:15:00',
 '2017-02-18 03:30:00',
 '2017-02-18 03:45:00',
 '2017-02-18 04:00:00',
 '2017-02-18 04:15:00',
 '2017-02-18 04:30:00',
 '2017-02-18 04:45:00',
 '2017-02-18 05:00:00',
 '2017-02-18 05:15:00',
 '2017-02-18 05:30:00',
 '2017-02-18 05:45:00',
 '2017-02-18 06:00:00',
 '2017-02-18 06:15:00',
 '2017-02-18 06:30:00',
 '2017-02-18 06:45:00',
 '2017-02-18 07:00:00',
 '2017-02-18 07:15:00',
 '2017-02-18 07:30:00',
 '2017-02-18 07:45:00',
 '2017-02-18 08:00:00',
 '2017-02-18 08:15:00',
 '2017-02-18 08:30:00',
 '2017-02-18 08:45:00',
 '2017-02-18 09:00:00',
 '2017-02-18 09:15:00',
 '2017-02-18 09:30:00',
 '2017-02-18 09:45:00',
 '2017-02-18 10:00:00',
 '2017-02-18 10:15:00',
 '2017-02-18 10:30:00',
 '2017-02-18 10:45:00',
 '2017-02-18 11:00:00',
 '2017-02-18 11:15:00',
 '2017-02-18 11:30:00',
 '2017-02-18 11:45:00',
 '2017-02-18 12:00:00',
 '2017-02-18 12:15:00',
 '2017-02-18 12:30:00',
 '2017-02-18 12:45:00',
 '2017-02-18 13:00:00',
 '2017-02-18 13:15:00',
 '2017-02-18 13:30:00',
 '2017-02-18 13:45:00',
 '2017-02-18 14:00:00',
 '2017-02-18 14:15:00',
 '2017-02-18 14:30:00',
 '2017-02-18 14:45:00',
 '2017-02-18 15:00:00',
 '2017-02-18 15:15:00',
 '2017-02-18 15:30:00',
 '2017-02-18 15:45:00',
 '2017-02-18 16:00:00',
 '2017-02-18 16:15:00',
 '2017-02-18 16:30:00',
 '2017-02-18 16:45:00',
 '2017-02-18 17:00:00',
 '2017-02-18 17:15:00',
 '2017-02-18 17:30:00',
 '2017-02-18 17:45:00',
 '2017-02-18 18:00:00',
 '2017-02-18 18:15:00',
 '2017-02-18 18:30:00',
 '2017-02-18 18:45:00',
 '2017-02-18 19:00:00',
 '2017-02-18 19:15:00',
 '2017-02-18 19:30:00',
 '2017-02-18 19:45:00',
 '2017-02-18 20:00:00',
 '2017-02-18 20:15:00',
 '2017-02-18 20:30:00',
 '2017-02-18 20:45:00',
 '2017-02-18 21:00:00',
 '2017-02-18 21:15:00',
 '2017-02-18 21:30:00',
 '2017-02-18 21:45:00',
 '2017-02-18 22:00:00',
 '2017-02-18 22:15:00',
 '2017-02-18 22:30:00',
 '2017-02-18 22:45:00',
 '2017-02-18 23:00:00',
 '2017-02-18 23:15:00',
 '2017-02-18 23:30:00',
 '2017-02-18 23:45:00',
 '2017-02-19 00:00:00',
 '2017-02-19 00:15:00',
 '2017-02-19 00:30:00',
 '2017-02-19 00:45:00',
 '2017-02-19 01:00:00',
 '2017-02-19 01:15:00',
 '2017-02-19 01:30:00',
 '2017-02-19 01:45:00',
 '2017-02-19 02:00:00',
 '2017-02-19 02:15:00',
 '2017-02-19 02:30:00',
 '2017-02-19 02:45:00',
 '2017-02-19 03:00:00',
 '2017-02-19 03:15:00',
 '2017-02-19 03:30:00',
 '2017-02-19 03:45:00',
 '2017-02-19 04:00:00',
 '2017-02-19 04:15:00',
 '2017-02-19 04:30:00',
 '2017-02-19 04:45:00',
 '2017-02-19 05:00:00',
 '2017-02-19 05:15:00',
 '2017-02-19 05:30:00',
 '2017-02-19 05:45:00',
 '2017-02-19 06:00:00',
 '2017-02-19 06:15:00',
 '2017-02-19 06:30:00',
 '2017-02-19 06:45:00',
 '2017-02-19 07:00:00',
 '2017-02-19 07:15:00',
 '2017-02-19 07:30:00',
 '2017-02-19 07:45:00',
 '2017-02-19 08:00:00',
 '2017-02-19 08:15:00',
 '2017-02-19 08:30:00',
 '2017-02-19 08:45:00',
 '2017-02-19 09:00:00',
 '2017-02-19 09:15:00',
 '2017-02-19 09:30:00',
 '2017-02-19 09:45:00',
 '2017-02-19 10:00:00',
 '2017-02-19 10:15:00',
 '2017-02-19 10:30:00',
 '2017-02-19 10:45:00',
 '2017-02-19 11:00:00',
 '2017-02-19 11:15:00',
 '2017-02-19 11:30:00',
 '2017-02-19 11:45:00',
 '2017-02-19 12:00:00',
 '2017-02-19 12:15:00',
 '2017-02-19 12:30:00',
 '2017-02-19 12:45:00',
 '2017-02-19 13:00:00',
 '2017-02-19 13:15:00',
 '2017-02-19 13:30:00',
 '2017-02-19 13:45:00',
 '2017-02-19 14:00:00',
 '2017-02-19 14:15:00',
 '2017-02-19 14:30:00',
 '2017-02-19 14:45:00',
 '2017-02-19 15:00:00',
 '2017-02-19 15:15:00',
 '2017-02-19 15:30:00',
 '2017-02-19 15:45:00',
 '2017-02-19 16:00:00',
 '2017-02-19 16:15:00',
 '2017-02-19 16:30:00',
 '2017-02-19 16:45:00',
 '2017-02-19 17:00:00',
 '2017-02-19 17:15:00',
 '2017-02-19 17:30:00',
 '2017-02-19 17:45:00',
 '2017-02-19 18:00:00',
 '2017-02-19 18:15:00',
 '2017-02-19 18:30:00',
 '2017-02-19 18:45:00',
 '2017-02-19 19:00:00',
 '2017-02-19 19:15:00',
 '2017-02-19 19:30:00',
 '2017-02-19 19:45:00',
 '2017-02-19 20:00:00',
 '2017-02-19 20:15:00',
 '2017-02-19 20:30:00',
 '2017-02-19 20:45:00',
 '2017-02-19 21:00:00',
 '2017-02-19 21:15:00',
 '2017-02-19 21:30:00',
 '2017-02-19 21:45:00',
 '2017-02-19 22:00:00',
 '2017-02-19 22:15:00',
 '2017-02-19 22:30:00',
 '2017-02-19 22:45:00',
 '2017-02-19 23:00:00',
 '2017-02-19 23:15:00',
 '2017-02-19 23:30:00',
 '2017-02-19 23:45:00',
 '2017-02-20 00:00:00',
 '2017-02-20 00:15:00',
 '2017-02-20 00:30:00',
 '2017-02-20 00:45:00',
 '2017-02-20 01:00:00',
 '2017-02-20 01:15:00',
 '2017-02-20 01:30:00',
 '2017-02-20 01:45:00',
 '2017-02-20 02:00:00',
 '2017-02-20 02:15:00',
 '2017-02-20 02:30:00',
 '2017-02-20 02:45:00',
 '2017-02-20 03:00:00',
 '2017-02-20 03:15:00',
 '2017-02-20 03:30:00',
 '2017-02-20 03:45:00',
 '2017-02-20 04:00:00',
 '2017-02-20 04:15:00',
 '2017-02-20 04:30:00',
 '2017-02-20 04:45:00',
 '2017-02-20 05:00:00',
 '2017-02-20 05:15:00',
 '2017-02-20 05:30:00',
 '2017-02-20 05:45:00',
 '2017-02-20 06:00:00',
 '2017-02-20 06:15:00',
 '2017-02-20 06:30:00',
 '2017-02-20 06:45:00',
 '2017-02-20 07:00:00',
 '2017-02-20 07:15:00',
 '2017-02-20 07:30:00',
 '2017-02-20 07:45:00',
 '2017-02-20 08:00:00',
 '2017-02-20 08:15:00',
 '2017-02-20 08:30:00',
 '2017-02-20 08:45:00',
 '2017-02-20 09:00:00',
 '2017-02-20 09:15:00',
 '2017-02-20 09:30:00',
 '2017-02-20 09:45:00',
 '2017-02-20 10:00:00',
 '2017-02-20 10:15:00',
 '2017-02-20 10:30:00',
 '2017-02-20 10:45:00',
 '2017-02-20 11:00:00',
 '2017-02-20 11:15:00',
 '2017-02-20 11:30:00',
 '2017-02-20 11:45:00',
 '2017-02-20 12:00:00',
 '2017-02-20 12:15:00',
 '2017-02-20 12:30:00',
 '2017-02-20 12:45:00',
 '2017-02-20 13:00:00',
 '2017-02-20 13:15:00',
 '2017-02-20 13:30:00',
 '2017-02-20 13:45:00',
 '2017-02-20 14:00:00',
 '2017-02-20 14:15:00',
 '2017-02-20 14:30:00',
 '2017-02-20 14:45:00',
 '2017-02-20 15:00:00',
 '2017-02-20 15:15:00',
 '2017-02-20 15:30:00',
 '2017-02-20 15:45:00',
 '2017-02-20 16:00:00',
 '2017-02-20 16:15:00',
 '2017-02-20 16:30:00',
 '2017-02-20 16:45:00',
 '2017-02-20 17:00:00',
 '2017-02-20 17:15:00',
 '2017-02-20 17:30:00',
 '2017-02-20 17:45:00',
 '2017-02-20 18:00:00',
 '2017-02-20 18:15:00',
 '2017-02-20 18:30:00',
 '2017-02-20 18:45:00',
 '2017-02-20 19:00:00',
 '2017-02-20 19:15:00',
 '2017-02-20 19:30:00',
 '2017-02-20 19:45:00',
 '2017-02-20 20:00:00',
 '2017-02-20 20:15:00',
 '2017-02-20 20:30:00',
 '2017-02-20 20:45:00',
 '2017-02-20 21:00:00',
 '2017-02-20 21:15:00',
 '2017-02-20 21:30:00',
 '2017-02-20 21:45:00',
 '2017-02-20 22:00:00',
 '2017-02-20 22:15:00',
 '2017-02-20 22:30:00',
 '2017-02-20 22:45:00',
 '2017-02-20 23:00:00',
 '2017-02-20 23:15:00',
 '2017-02-20 23:30:00',
 '2017-02-20 23:45:00',
 '2017-02-21 00:00:00',
 '2017-02-21 00:15:00',
 '2017-02-21 00:30:00',
 '2017-02-21 00:45:00',
 '2017-02-21 01:00:00',
 '2017-02-21 01:15:00',
 '2017-02-21 01:30:00',
 '2017-02-21 01:45:00',
 '2017-02-21 02:00:00',
 '2017-02-21 02:15:00',
 '2017-02-21 02:30:00',
 '2017-02-21 02:45:00',
 '2017-02-21 03:00:00',
 '2017-02-21 03:15:00',
 '2017-02-21 03:30:00',
 '2017-02-21 03:45:00',
 '2017-02-21 04:00:00',
 '2017-02-21 04:15:00',
 '2017-02-21 04:30:00',
 '2017-02-21 04:45:00',
 '2017-02-21 05:00:00',
 '2017-02-21 05:15:00',
 '2017-02-21 05:30:00',
 '2017-02-21 05:45:00',
 '2017-02-21 06:00:00',
 '2017-02-21 06:15:00',
 '2017-02-21 06:30:00',
 '2017-02-21 06:45:00',
 '2017-02-21 07:00:00',
 '2017-02-21 07:15:00',
 '2017-02-21 07:30:00',
 '2017-02-21 07:45:00',
 '2017-02-21 08:00:00',
 '2017-02-21 08:15:00',
 '2017-02-21 08:30:00',
 '2017-02-21 08:45:00',
 '2017-02-21 09:00:00',
 '2017-02-21 09:15:00',
 '2017-02-21 09:30:00',
 '2017-02-21 09:45:00',
 '2017-02-21 10:00:00',
 '2017-02-21 10:15:00',
 '2017-02-21 10:30:00',
 '2017-02-21 10:45:00',
 '2017-02-21 11:00:00',
 '2017-02-21 11:15:00',
 '2017-02-21 11:30:00',
 '2017-02-21 11:45:00',
 '2017-02-21 12:00:00',
 '2017-02-21 12:15:00',
 '2017-02-21 12:30:00',
 '2017-02-21 12:45:00',
 '2017-02-21 13:00:00',
 '2017-02-21 13:15:00',
 '2017-02-21 13:30:00',
 '2017-02-21 13:45:00',
 '2017-02-21 14:00:00',
 '2017-02-21 14:15:00',
 '2017-02-21 14:30:00',
 '2017-02-21 14:45:00',
 '2017-02-21 15:00:00',
 '2017-02-21 15:15:00',
 '2017-02-21 15:30:00',
 '2017-02-21 15:45:00',
 '2017-02-21 16:00:00',
 '2017-02-21 16:15:00',
 '2017-02-21 16:30:00',
 '2017-02-21 16:45:00',
 '2017-02-21 17:00:00',
 '2017-02-21 17:15:00',
 '2017-02-21 17:30:00',
 '2017-02-21 17:45:00',
 '2017-02-21 18:00:00',
 '2017-02-21 18:15:00',
 '2017-02-21 18:30:00',

In [12]:
df_area_date = pd.DataFrame( columns = ['metropolitan_area_code', 'date'])

In [13]:
df_new = pd.DataFrame( columns = ['metropolitan_area_code', 'date'])

In [14]:
for i in range(0,17):
    df_new["metropolitan_area_code"] = i
    
    df_new["date"] = l

    df_area_date = pd.concat([df_area_date,df_new], ignore_index=True)

In [15]:
df_area_date

        metropolitan_area_code                 date
0                          NaN  2017-02-13 02:30:00
1                          NaN  2017-02-13 02:45:00
2                          NaN  2017-02-13 03:00:00
3                          NaN  2017-02-13 03:15:00
4                          NaN  2017-02-13 03:30:00
...                        ...                  ...
2909681                     16  2021-12-31 22:45:00
2909682                     16  2021-12-31 23:00:00
2909683                     16  2021-12-31 23:15:00
2909684                     16  2021-12-31 23:30:00
2909685                     16  2021-12-31 23:45:00

[2909686 rows x 2 columns]

In [16]:
df_area_date['metropolitan_area_code'] = df_area_date['metropolitan_area_code'].fillna(0)
df_area_date['date'] = df_area_date['date'].apply(lambda _: datetime.strptime(_,"%Y-%m-%d %H:%M:%S"))

In [17]:
df_area_date.to_csv('../raw_data/df_area_date.csv')

In [18]:
df_3M_rows = pd.merge(df_area_date, df_merged, on=["date","metropolitan_area_code"], how="left").reset_index(drop=True)

In [19]:
df_3M_rows

,metropolitan_area_code,date,energy_consumption,year,month,day,hour,minute,date_Y_M_D,date_Y_M_D_H,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR
0,0,2017-02-13 02:30:00,4625.0,2017,02,13,02,30,2017-02-13,2017-02-13 02:00:00,-0.68,-1.02,-0.85,3.48,98.00,0.0
1,0,2017-02-13 02:45:00,4571.0,2017,02,13,02,45,2017-02-13,2017-02-13 02:00:00,-0.68,-1.02,-0.85,3.48,98.00,0.0
2,0,2017-02-13 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2017-02-13 03:15:00,4524.0,2017,02,13,03,15,2017-02-13,2017-02-13 03:00:00,-1.02,-1.41,-1.21,3.42,97.94,0.0
4,0,2017-02-13 03:30:00,4489.0,2017,02,13,03,30,2017-02-13,2017-02-13 03:00:00,-1.02,-1.41,-1.21,3.42,97.94,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909681,16,2021-12-31 22:45:00,114.0,2021,12,31,22,45,2021-12-31,2021-12-31 22:00:00,10.41,9.53,9.98,7.32,94.19,0.0
2909682,16,2021-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2909683,16,2021-12-31 23:15:00,107.0,2021,12,31,23,15,2021-12-31,2021-12-31 23:00:00,10.55,9.74,10.14,7.45,94.62,0.0
2909684,16,2021-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2909685,16,2021-12-31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_3M_rows[df_3M_rows['date'] > '2018-01-01']

,metropolitan_area_code,date,energy_consumption,year,month,day,hour,minute,date_Y_M_D,date_Y_M_D_H,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR
30903,0,2018-01-01 00:15:00,4649.0,2018,01,01,00,15,2018-01-01,2018-01-01 00:00:00,6.62,3.49,5.05,4.94,80.25,0.01
30904,0,2018-01-01 00:30:00,4569.0,2018,01,01,00,30,2018-01-01,2018-01-01 00:00:00,6.62,3.49,5.05,4.94,80.25,0.01
30905,0,2018-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
30906,0,2018-01-01 01:00:00,4354.0,2018,01,01,01,00,2018-01-01,2018-01-01 01:00:00,6.78,3.94,5.36,5.07,81.88,0.02
30907,0,2018-01-01 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909681,16,2021-12-31 22:45:00,114.0,2021,12,31,22,45,2021-12-31,2021-12-31 22:00:00,10.41,9.53,9.98,7.32,94.19,0.00
2909682,16,2021-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2909683,16,2021-12-31 23:15:00,107.0,2021,12,31,23,15,2021-12-31,2021-12-31 23:00:00,10.55,9.74,10.14,7.45,94.62,0.00
2909684,16,2021-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2909685,16,2021-12-31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df_3M_rows[(df_3M_rows['date'] > '2018-01-01') & (df_3M_rows['metropolitan_area_code'] == 2)].count()

metropolitan_area_code    140255
date                      140255
energy_consumption         69550
year                       69550
month                      69550
day                        69550
hour                       69550
minute                     69550
date_Y_M_D                 69550
date_Y_M_D_H               69550
T2M                        69550
T2MDEW                     69550
T2MWET                     69550
QV2M                       69550
RH2M                       69550
PRECTOTCORR                69550
dtype: int64

In [21]:
df_3M_rows.to_csv('../raw_data/df_3M_rows.csv')